<%= render 'comments/add_comment', comment: comment%>
<%= render 'comments/form', obj: comment%>

<div class="row col-md-11 col-md-offset-1">
  <%= render partial: 'comments/comment', collection: comment.comments %>
</div>


