<h1 align="center">Listing all the Memories</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-5" id="new-mem">
   <button class="btn btn-primary"><%= link_to 'New Memory', new_memory_path %></button>
  </div>
</div>

<%= render 'memories', obj: @memories %>

